/* xl */
@media only screen and (min-width:1200px)  {

}

/* lg */
@media only screen and (max-width:1199px)  {
    .restaurants-list {
        .list {
            .item {
                width: 50%;
            }
        }
    }
}

/* md */
@media only screen and (max-width:991px)  {
    
}

/* sm */
@media only screen and (max-width:767px)  {
    .main-filter {
        border-bottom: none;
    }
    .list-title {
        margin: 20px 0 30px !important;
    }
    .restaurants-list {
        .list {
            .item {
                width: 100%;
            }
        }
    }
}

/* xs */
@media only screen and (max-width:575px)  {
    
}